*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* Navigation */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#020617;

position:sticky;
top:0;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-menu{

list-style:none;
display:flex;
gap:30px;
}

.nav-menu a{

text-decoration:none;
color:white;

transition:0.3s;
}

.nav-menu a:hover{

color:#38bdf8;
}

/* Hero Section */

.hero{

height:80vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:20px;
}

.hero h1{

font-size:50px;
margin-bottom:15px;
}

.hero p{

max-width:500px;
opacity:0.8;
}

/* Button */

.btn{

display:inline-block;
margin-top:25px;

padding:12px 25px;

background:#38bdf8;

border-radius:30px;

color:black;

text-decoration:none;

font-weight:bold;

transition:0.3s;
}

.btn:hover{

transform:scale(1.05);
}

/* Skills */

.skills{

padding:80px 10%;
text-align:center;
}

.skills h2{

margin-bottom:30px;
}

.skills-container{

display:flex;
justify-content:center;

gap:25px;

flex-wrap:wrap;
}

.skill{

background:#1e293b;

padding:20px 40px;

border-radius:10px;

transition:0.3s;
}

.skill:hover{

transform:translateY(-5px);

background:#334155;
}

/* Responsive */

@media(max-width:768px){

.hero h1{

font-size:32px;

}

.nav-menu{

gap:15px;

}

}
